<ul>
  <li><%= @house.title %></li>
  <li><%= @house.content %></li>
  <li><%= @house.price %></li>
  <li><%= @house.adresse %></li>
  <li><%= @house.property_type %></li>
  <li><%= @house.status %></li>
  <li><%= @house.surface %></li>
  <li><%= @house.bed %></li>
  <li><%= @house.bath %></li>
  <li><%= @house.garage %></li>
</ul>
